* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
}

h1 {
  text-align: center;
}

.hold {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 2rem;
  border: dotted blueviolet;
}

.column {
  flex-grow: 1;
  min-width: 300px;
  background-color: aqua;
}

.notecard-container {
  margin-top: 20px;
  margin-left: 20px;
  width: 25em;  
}

.notecard {
  border: solid 0.1px;
  border-radius: 5px;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 1, 1, 0.3);
  background-color: white;
}

.notecard:hover {
  transform: scale(1.01);
}

.note-header {
  outline: none;
  width: 100%;
  height: 25px;
  border: none;
  font-weight: bold;
  font-size: medium;
  
}

.note-content {
  outline: none;
  width: 100%;
  height: 100px;
  border: none;
  resize: none;
}

.notecard:hover .delete-button {
  visibility: visible;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  visibility: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.add-button {
  justify-content: center;
  background-color: #3cb4e7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
